---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/restserver/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - A1532909055106j4M27m000000NLmYG
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_2:504b82ea23fe7f389edc791e7fe20b49bb4551bc4d13be8f15a6c52c62c71c4083f16bc3902491ef26f3f5023b505a6b76b75656fdf6686d0410c145bbce063f"
          }
        }
  recorded_at: Mon, 30 Jul 2018 00:04:15 GMT
recorded_with: VCR 3.0.3
