---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "Y807",
          "errorMessage" : "Resource not found"
        }
  recorded_at: Thu, 14 Jun 2018 00:01:26 GMT
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/restserver/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - y1532907404844Q4k26W000000NLiYV
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_1:873c2357795ea15413fdc5d25b136d903b265c14a9f50ba193ca15a1d9939dc70b92ec374628e12cf75eca826d99995e8a4037c6caf0f8f87ed396d1c4ce6999"
          }
        }
  recorded_at: Sun, 29 Jul 2018 23:36:44 GMT
recorded_with: VCR 3.0.3
